.App {
  display: flex;
  flex-direction: column;
  margin: 5% 10%;
}

.main-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}

.title-text {
  font-size: 24px;
  font-weight: bold;
}

.description-text {
  font-size: 14px;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: black 1px solid;
  border-radius: 20px;
  padding: 5%;
  margin: 20px 0;
}

.input-wrapper {
  margin: 10px 0;
}
input {
  border-radius: 5px;
  padding: 3px;
  margin-left: 10px;
  font-size: 16px;
  font-family: 'Raleway', serif;
}
